table {
    height: 456px;
    width: 800px;
    margin: initial;
}

table, td {
    border: solid 2px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: #bf0b30;
}

tr:nth-child(even) {
    background: #fff;
}

* {
    margin: 26px auto;
}

.Stars {
    width: 400px;
    height: 250px;
    margin: auto;
    position: absolute;
}